<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage</title>
    <!-- Ajoutez le lien CDN Bootstrap ci-dessous -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Ajoutez vos styles CSS personnalisés ici */
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>

<!-- Barre de navigation Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/accueil/index">Voyage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/accueil/index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/voiture/liste">Voiture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chauffeur/liste">Chauffeur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/passager/liste">Passager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bagage/liste">Bagage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenu principal -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <!-- Affichage des Bagages -->
            <div class="container mt-4">
                <h2>Bagages</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Libellé</th>
                            <th scope="col">Type</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bagage : ${bagages}">
                            <td th:text="${bagage.libelleBagage}"></td>
                            <td th:text="${bagage.typeBagage}"></td>
                            <td th:text="${bagage.quantiteBagage}"></td>
                            <td>
                                <a class="btn btn-secondary" th:href="${bagage.id}">
                                    +
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
        <!-- Détails du Bagage -->
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Détails</h2>
                    </div>
                    <div class="card-body" th:each="bagage : ${bagageDetail}">
                        <p class="card-text" th:text="${bagageDetail.libelleBagage}"></p>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Type:</strong> <span th:text="${bagageDetail.typeBagage}"></span></li>
                            <li class="list-group-item"><strong>Quantité:</strong> <span th:text="${bagageDetail.quantiteBagage}"></span></li>
                            <li class="list-group-item"><strong>Prénom passager:</strong> <span th:text="${bagageDetail.passagerResumeDto.prenomPassager}"></span></li>
                            <li class="list-group-item"><strong>Nom passager:</strong> <span th:text="${bagageDetail.passagerResumeDto.nomPassager}"></span></li>
                            <li class="list-group-item"><strong>Téléphone passager:</strong> <span th:text="${bagageDetail.passagerResumeDto.telephonePassager}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Ajouter un bagage</h2>
                    </div>
                    <div class="card-body">
                        <form th:object="${bagageDto}" th:action="@{ajouter}" method="post">
                            <div class="mb-3">
                                <label for="libelleBagage" class="form-label">Libellé du bagage</label>
                                <input type="text" class="form-control" id="libelleBagage" th:field="*{libelleBagage}">
                                <div th:if="${#fields.hasErrors('libelleBagage')}" th:errors="*{libelleBagage}" class="text-danger"></div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="quantiteBagage" class="form-label">Quantité de bagage</label>
                                <input type="number" class="form-control" id="quantiteBagage" th:field="*{quantiteBagage}">
                                <div th:if="${#fields.hasErrors('quantiteBagage')}" th:errors="*{quantiteBagage}" class="text-danger"></div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="typeBagage" class="form-label">Type de bagage</label>
                                <input type="text" class="form-control" id="typeBagage" th:field="*{typeBagage}">
                                <div th:if="${#fields.hasErrors('typeBagage')}" th:errors="*{typeBagage}" class="text-danger"></div>
                            </div>
        
                            <div class="mb-3">
                                <label for="passagerResumeDto" class="form-label">Passager</label>
                                <select class="form-select" id="passagerResumeDto" th:field="*{passagerResumeDto.id}">
                                    <option th:each="passagerResumeDto : ${passagerResumeDtos}" th:value="${passagerResumeDto.id}" th:text="${passagerResumeDto.prenomPassager}"></option>
                                </select>
                            </div>
                    
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Pied de page Bootstrap -->
<!-- <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">© 2024 Mon Blog</p>
    </div>
</footer> -->

<!-- Scripts Bootstrap nécessaires -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>