<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage</title>
    <!-- Ajoutez le lien CDN Bootstrap ci-dessous -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Ajoutez vos styles CSS personnalisés ici */
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>

<!-- Barre de navigation Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/accueil/index">Voyage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/accueil/index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/voiture/liste">Voiture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chauffeur/liste">Chauffeur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/passager/liste">Passager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bagage/liste">Bagage</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenu principal -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <!-- Affichage des Voitures -->
            <div class="container mt-4">
                <h2>Voitures</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Matricule</th>
                            <th scope="col">Type</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="voiture : ${voitures}">
                            <td th:text="${voiture.matriculeVoiture}"></td>
                            <td th:text="${voiture.typeVoiture}"></td>
                            <td th:text="${voiture.destinationVoiture}"></td>
                            <td>
                                <a class="btn btn-secondary" th:href="${voiture.id}">
                                    +
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Détails</h2>
                    </div>
                    <div class="card-body" th:each="voitureDetail : ${voitureDetail}">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Matricule:</strong> <span th:text="${voitureDetail.matriculeVoiture}"></span></li>
                            <li class="list-group-item"><strong>Type:</strong> <span th:text="${voitureDetail.typeVoiture}"></span></li>
                            <li class="list-group-item"><strong>Destination:</strong> <span th:text="${voitureDetail.destinationVoiture}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Ajouter une voiture</h2>
                    </div>
                    <div class="card-body">
                        <form th:object="${voitureDto}" th:action="@{ajouter}" method="post">
                            <div class="mb-3">
                                <label for="matriculeVoiture" class="form-label">Matricule</label>
                                <input type="text" class="form-control" id="matriculeVoiture" th:field="*{matriculeVoiture}">
                                <div th:if="${#fields.hasErrors('matriculeVoiture')}" th:errors="*{matriculeVoiture}" class="text-danger"></div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="typeVoiture" class="form-label">Type</label>
                                <input type="text" class="form-control" id="typeVoiture" th:field="*{typeVoiture}">
                                <div th:if="${#fields.hasErrors('typeVoiture')}" th:errors="*{typeVoiture}" class="text-danger"></div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="destinationVoiture" class="form-label">Destination</label>
                                <input type="text" class="form-control" id="destinationVoiture" th:field="*{destinationVoiture}">
                                <div th:if="${#fields.hasErrors('destinationVoiture')}" th:errors="*{destinationVoiture}" class="text-danger"></div>
                            </div>
                            
                            <!-- <div class="mb-3">
                                <label for="chauffeurResumeDto" class="form-label">Chauffeur</label>
                                <select class="form-select" id="chauffeurResumeDto" th:field="*{chauffeurResumeDto.id}">
                                    <option value="">Sélectionner</option>
                                    <option th:each="chauffeurResumeDto : ${chauffeurResumeDtos}" th:value="${chauffeurResumeDto.id}" th:text="${chauffeurResumeDto.prenomChauffeur}"></option>
                                </select>
                            </div> -->
                    
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pied de page Bootstrap -->
<!-- <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">© 2024 Mon Blog</p>
    </div>
</footer> -->

<!-- Scripts Bootstrap nécessaires -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>